@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Tiro+Bangla:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom font setup */
@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('assets\fonts\AirbnbCerealLight.ttf') format('OpenType');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Airbnb Cereal App';
    src: url('assets\fonts\AirbnbCerealMedium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
      font-family: 'Airbnb Cereal App';
      src: url('assets\fonts\AirbnbCerealBold.ttf') format('opentype');
      font-weight: 700;
      font-style: normal;
    } 
    @font-face {
        font-family: 'Airbnb Cereal App';
        src: url('assets\fonts\AirbnbCerealBook.ttf') format('opentype');
        font-weight: 350;
        font-style: normal;
      } 


